In [2]:
import csv
import numpy as np
from datetime import datetime
import datetime
import pandas as pd
import pandas_datareader.data as web
from pandas import Series, DataFrame
import matplotlib.pyplot as plt

In [3]:
# Import live data from Yahoo Finance

start_date = datetime.datetime(2012, 1, 1)
end_date = datetime.datetime(2019, 11, 19)

stock_data_FACEBOOK = web.DataReader("FB", 'yahoo', start_date, end_date)
stock_data_GOOGLE = web.DataReader("GOOG", 'yahoo', start_date, end_date)
stock_data_FACEBOOK.reset_index(inplace = True)
stock_data_GOOGLE.reset_index(inplace = True)

In [4]:
stock_data_FACEBOOK.tail()

,Date,High,Low,Open,Close,Volume,Adj Close
1884,2019-11-13,195.699997,192.740005,194.699997,193.190002,10860700,193.190002
1885,2019-11-14,194.029999,191.449997,192.929993,193.149994,9040500,193.149994
1886,2019-11-15,195.300003,193.380005,194.259995,195.100006,11524300,195.100006
1887,2019-11-18,198.630005,193.050003,194.559998,197.399994,16167200,197.399994
1888,2019-11-19,200.000000,196.860001,197.399994,199.320007,19056800,199.320007

In [ ]:
stock_data_FACEBOOK.head()

In [5]:
stock_data_GOOGLE.tail()

,Date,High,Low,Open,Close,Volume,Adj Close
1979,2019-11-13,1304.300049,1293.510010,1294.069946,1298.000000,826700.0,1298.000000
1980,2019-11-14,1317.000000,1295.650024,1297.500000,1311.459961,1193500.0,1311.459961
1981,2019-11-15,1334.880005,1314.280029,1318.939941,1334.869995,1782600.0,1334.869995
1982,2019-11-18,1335.529053,1317.500000,1332.219971,1320.699951,1487400.0,1320.699951
1983,2019-11-19,1327.699951,1312.800049,1327.699951,1315.459961,1269200.0,1315.459961

In [ ]:
stock_data_GOOGLE.head()

In [ ]:
# To round the decimals to two decimals
stock_data_FACEBOOK = stock_data_FACEBOOK.round(2)

In [ ]:
# To round the decimals to two decimals
stock_data_GOOGLE = stock_data_GOOGLE.round(2)

In [ ]:
stock_data_FACEBOOK.tail()

In [ ]:
stock_data_GOOGLE.tail()

In [ ]:
# Drop the 'High', 'Low', 'Open' and "Adj.Close" column
stock_data_GOOGLE.drop(['Adj Close', 'High', 'Low', 'Open'], axis=1, inplace=True)
stock_data_FACEBOOK.drop(['Adj Close', 'High', 'Low', 'Open'], axis=1, inplace=True)

In [ ]:
stock_data_FACEBOOK.tail()

In [ ]:
stock_data_GOOGLE.tail()

In [ ]:
# Add a column to show the previous day closing - FACEBOOK  
stock_data_FACEBOOK['Pre_Day_Cls'] = stock_data_FACEBOOK['Close'].shift(1)

In [ ]:
# Add a column to show the previous day closing - GOOGLE  
stock_data_GOOGLE['Pre_Day_Cls'] = stock_data_GOOGLE['Close'].shift(1)

In [ ]:
# Show the difference between the day on new column - FACEBOOK
stock_data_FACEBOOK['Dif_Btw_Day'] = stock_data_FACEBOOK['Close'] - stock_data_FACEBOOK['Pre_Day_Cls']

In [ ]:
# Show the difference between the day on new column - GOOGLE
stock_data_GOOGLE['Dif_Btw_Day'] = stock_data_GOOGLE['Close'] - stock_data_GOOGLE['Pre_Day_Cls']

In [ ]:
stock_data_FACEBOOK.tail()

In [ ]:
stock_data_GOOGLE.tail()

In [ ]:
# Re-Arrange the columns - Facebook
stock_data_FACEBOOK = stock_data_FACEBOOK[['Date','Close', 'Pre_Day_Cls', 'Dif_Btw_Day', 'Volume']]
stock_data_FACEBOOK.tail()

In [ ]:
# Re-Arrange the columns - Google
stock_data_GOOGLE = stock_data_GOOGLE[['Date','Close', 'Pre_Day_Cls', 'Dif_Btw_Day', 'Volume']]
stock_data_GOOGLE.tail()

In [ ]:
stock_data_GOOGLE.head()

In [ ]:
stock_data_FACEBOOK.head()

In [ ]:
# Add a Column to show the % change between the days - FACEBOOK
stock_data_FACEBOOK['Per_Change'] = (stock_data_FACEBOOK['Dif_Btw_Day'] / stock_data_FACEBOOK['Pre_Day_Cls'])*100

In [ ]:
# Add a Column to show the % change between the days - GOOGLE
stock_data_GOOGLE['Per_Change'] = (stock_data_GOOGLE['Dif_Btw_Day'] / stock_data_GOOGLE['Pre_Day_Cls'])*100

In [ ]:
stock_data_FACEBOOK.head()

In [ ]:
stock_data_GOOGLE.head()

In [ ]:
# Re-Arrange the columns - Facebook
stock_data_FACEBOOK = stock_data_FACEBOOK[['Date','Close', 'Pre_Day_Cls', 'Dif_Btw_Day', 'Per_Change', 'Volume']]
# To round the decimals to two decimals for "% Change" column
stock_data_FACEBOOK['Per_Change'] = stock_data_FACEBOOK['Per_Change'].round(2)

In [ ]:
stock_data_FACEBOOK.head()

In [ ]:
# Re-Arrange the columns - Google
stock_data_GOOGLE = stock_data_GOOGLE[['Date','Close', 'Pre_Day_Cls', 'Dif_Btw_Day', 'Per_Change', 'Volume']]
# To round the decimals to two decimals for "% Change" column
stock_data_GOOGLE['Per_Change'] = stock_data_GOOGLE['Per_Change'].round(2)

In [ ]:
# Drop the empty or null value cells for both Data Frames
stock_data_FACEBOOK.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

In [ ]:
stock_data_GOOGLE.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

In [ ]:
stock_data_FACEBOOK.tail()

In [ ]:
stock_data_GOOGLE.tail()

In [ ]:
# Export dataframe to CSV file - Facebook
stock_data_FACEBOOK.to_csv(r'C:\Users\M2N2\Documents\codingtemple-fall\data_analysis_final_project\data_files\FACEBOOK_data.csv')

In [ ]:
# Export dataframe to CSV file - Google
stock_data_GOOGLE.to_csv(r'C:\Users\M2N2\Documents\codingtemple-fall\data_analysis_final_project\data_files\GOOGLE_data.csv')

In [ ]:
stock_data_FACEBOOK.describe()

In [ ]:
stock_data_GOOGLE.describe()

In [ ]:
#Get top 5 "Per_Change" values - Facebook
highest_per_change_FACEBOOK = stock_data_FACEBOOK.nlargest(5,["Per_Change"]).reset_index()['Per_Change']
highest_per_change_FACEBOOK

In [ ]:
#Get top 5 "Per_Change" values - Google
highest_per_change_GOOGLE = stock_data_GOOGLE.nlargest(5,["Per_Change"]).reset_index()['Per_Change']
highest_per_change_GOOGLE

In [ ]:
#Get bottom 5 "Per_Change" values - Facebook
lowest_per_change_FACEBOOK = stock_data_FACEBOOK.nsmallest(5,["Per_Change"]).reset_index()['Per_Change']
lowest_per_change_FACEBOOK

In [ ]:
#Get bottom 5 "Per_Change" values - Google
lowest_per_change_GOOGLE = stock_data_GOOGLE.nsmallest(5,["Per_Change"]).reset_index()['Per_Change']
lowest_per_change_GOOGLE

In [ ]:
# import matplotlib.pyplot as plt

# # Create Histogram to show the top 5 % change comparision for both stocks
# fig, ax = plt.subplots(figsize = (16,9))

# plt.hist(highest_per_change_GOOGLE,bins = 5, label = 'Top 5 % Change', color = 'g', alpha = 0.5)
# plt.xticks(fontsize = 30)
# plt.yticks(fontsize = 30)
# plt.xlabel('% Change', fontname = 'Times New Roman', fontsize = 35)
# plt.ylabel('Frequency', fontname = 'Times New Roman', fontsize = 35)
# plt.legend(loc = 'upper left', fontsize = 30)

# plt.show()

In [ ]:
# Plot Top5 "Per_Change" - Facebook
y_pos = np.arange(len(list(highest_per_change_FACEBOOK)))
plt.bar(y_pos,highest_per_change_FACEBOOK, align= 'center', alpha=0.75, color = 'g')
plt.xticks(y_pos,highest_per_change_FACEBOOK)
plt.ylabel('Percentage Change')
plt.title('Facebook Percentage Change Top 5')

plt.show()

In [ ]:
# Plot Top5 "Per_Change" - Google
y_pos = np.arange(len(list(highest_per_change_GOOGLE)))
plt.bar(y_pos,highest_per_change_GOOGLE, align= 'center', alpha=0.75, color = 'blue' )
plt.xticks(y_pos,highest_per_change_GOOGLE)
plt.ylabel('Percentage Change')
plt.title('Google Percentage Change Top 5')

plt.show()

In [ ]:
# Plot lowest5 "Per_Change" - Facebook
y_pos = np.arange(len(list(lowest_per_change_FACEBOOK)))
plt.bar(y_pos,lowest_per_change_FACEBOOK, align= 'center', alpha=0.75, color = 'orange')
plt.xticks(y_pos,lowest_per_change_FACEBOOK)
plt.ylabel('Percentage Change')
plt.title('Facebook Percentage Change Bottom 5')

plt.show()

In [ ]:
# Plot lowest5 "Per_Change" - Google
y_pos = np.arange(len(list(lowest_per_change_GOOGLE)))
plt.bar(y_pos,lowest_per_change_GOOGLE, align= 'center', alpha=0.75, color = 'pink')
plt.xticks(y_pos,lowest_per_change_GOOGLE)
plt.ylabel('Percentage Change')
plt.title('Google Percentage Change Bottom 5')

plt.show()

In [ ]:
# facebook_plot = plt.subplot(2,1,1)
# plt.plot([1,2,3,4,5],highest_per_change_FACEBOOK, 'ro-.', label = "Top 5 % Change")
# facebook_plot.set_xlim([0,6])
# facebook_plot.set_ylim([0,30])

# plt.ylabel('Top 5 Change (Percentage)')
# plt.xlabel('Count')
# plt.legend()

# google_plot = plt.subplot(2,1,2) 
# plt.plot([1,2,3,4,5], highest_per_change_GOOGLE, 'gx-', label = "Top 5 % Change")
# google_plot.set_xlim([0,6])
# google_plot.set_ylim([0,30])

# plt.ylabel('Top 5 Change (Percentage)')
# plt.xlabel('Count')
# plt.legend()

# plt.show()

In [ ]:
# Get the average close for each year - Facebook 2012
start_year = 2012
end_year = 2019
closing_means = []
for i in range(start_year, end_year+1):
    facebook = pd.to_datetime(stock_data_FACEBOOK['Date'])
    start_date = str(i) + '-1-1'
    end_date = str(i) +'-12-31'
    bool_mask = (stock_data_FACEBOOK['Date'] > start_date) & (stock_data_FACEBOOK['Date'] <= end_date)
    date_diff = stock_data_FACEBOOK[bool_mask]
    closing_means.append(date_diff['Close'].mean())
closing_means

In [ ]:
bool_mask1

In [ ]:
# Get the average close for each year - Facebook 2013

facebook_2013 = pd.to_datetime(stock_data_FACEBOOK['Date'])
facebook_2013
start_date_2013 = '2013-1-1'
end_date_2013 = '2013-12-31'

bool_mask2 = (stock_data_FACEBOOK['Date'] > start_date_2013) & (stock_data_FACEBOOK['Date'] <= end_date_2013)

date_diff2 = stock_data_FACEBOOK[bool_mask2]
date_diff2['Close'].mean()

In [ ]:
# Get the average close for each year - Facebook 2014

facebook_2014 = pd.to_datetime(stock_data_FACEBOOK['Date'])
facebook_2014
start_date_2014 = '2014-1-1'
end_date_2014 = '2014-12-31'

bool_mask3 = (stock_data_FACEBOOK['Date'] > start_date_2014) & (stock_data_FACEBOOK['Date'] <= end_date_2014)

date_diff3 = stock_data_FACEBOOK[bool_mask3]
date_diff3['Close'].mean()

In [ ]:
# Get the average close for each year - Facebook 2015

facebook_2015 = pd.to_datetime(stock_data_FACEBOOK['Date'])
facebook_2015
start_date_2015 = '2015-1-1'
end_date_2015 = '2015-12-31'

bool_mask4 = (stock_data_FACEBOOK['Date'] > start_date_2015) & (stock_data_FACEBOOK['Date'] <= end_date_2015)

date_diff4 = stock_data_FACEBOOK[bool_mask4]
date_diff4['Close'].mean()

In [ ]:
# Get the average close for each year - Facebook 2016

facebook_2016 = pd.to_datetime(stock_data_FACEBOOK['Date'])
facebook_2016
start_date_2016 = '2016-1-1'
end_date_2016 = '2016-12-31'

bool_mask5 = (stock_data_FACEBOOK['Date'] > start_date_2016) & (stock_data_FACEBOOK['Date'] <= end_date_2016)

date_diff5 = stock_data_FACEBOOK[bool_mask5]
date_diff5['Close'].mean()

In [ ]:
# Get the average close for each year - Facebook 2017

facebook_2017 = pd.to_datetime(stock_data_FACEBOOK['Date'])
facebook_2017
start_date_2017 = '2017-1-1'
end_date_2017 = '2017-12-31'

bool_mask6 = (stock_data_FACEBOOK['Date'] > start_date_2017) & (stock_data_FACEBOOK['Date'] <= end_date_2017)

date_diff6 = stock_data_FACEBOOK[bool_mask6]
date_diff6['Close'].mean()

In [ ]:
# Get the average close for each year - Facebook 2018

facebook_2018 = pd.to_datetime(stock_data_FACEBOOK['Date'])
facebook_2018
start_date_2018 = '2018-1-1'
end_date_2018 = '2018-12-31'

bool_mask7 = (stock_data_FACEBOOK['Date'] > start_date_2018) & (stock_data_FACEBOOK['Date'] <= end_date_2018)

date_diff7 = stock_data_FACEBOOK[bool_mask7]
date_diff7['Close'].mean()

In [ ]:
# Get the average close for each year - Facebook 2019

facebook_2019 = pd.to_datetime(stock_data_FACEBOOK['Date'])
facebook_2019
start_date_2019 = '2019-1-1'
end_date_2019 = '2019-12-31'

bool_mask8 = (stock_data_FACEBOOK['Date'] > start_date_2019) & (stock_data_FACEBOOK['Date'] <= end_date_2019)

date_diff8 = stock_data_FACEBOOK[bool_mask8]
date_diff8['Close'].mean()

In [ ]:
# Get the average close for each year - Google 2012

google_2012 = pd.to_datetime(stock_data_GOOGLE['Date'])
google_2012
start_date_2012 = '2012-1-1'
end_date_2012 = '2012-12-31'

bool_mask1 = (stock_data_GOOGLE['Date'] > start_date_2012) & (stock_data_GOOGLE['Date'] <= end_date_2012)

date_diff1 = stock_data_GOOGLE[bool_mask1]
date_diff1['Close'].mean()

In [ ]:
# Get the average close for each year - Google 2013

google_2013 = pd.to_datetime(stock_data_GOOGLE['Date'])
google_2013
start_date_2013 = '2013-1-1'
end_date_2013 = '2013-12-31'

bool_mask2 = (stock_data_GOOGLE['Date'] > start_date_2013) & (stock_data_GOOGLE['Date'] <= end_date_2013)

date_diff2 = stock_data_GOOGLE[bool_mask2]
date_diff2['Close'].mean()

In [ ]:
# Get the average close for each year - Google 2014

google_2014 = pd.to_datetime(stock_data_GOOGLE['Date'])
google_2014
start_date_2014 = '2014-1-1'
end_date_2014 = '2014-12-31'

bool_mask3 = (stock_data_GOOGLE['Date'] > start_date_2014) & (stock_data_GOOGLE['Date'] <= end_date_2014)

date_diff3 = stock_data_GOOGLE[bool_mask3]
date_diff3['Close'].mean()

In [ ]:
# Get the average close for each year - Google 2015

google_2015 = pd.to_datetime(stock_data_GOOGLE['Date'])
google_2015
start_date_2015 = '2015-1-1'
end_date_2015 = '2015-12-31'

bool_mask4 = (stock_data_GOOGLE['Date'] > start_date_2015) & (stock_data_GOOGLE['Date'] <= end_date_2015)

date_diff4 = stock_data_GOOGLE[bool_mask4]
date_diff4['Close'].mean()

In [ ]:
# Get the average close for each year - Google 2016

google_2016 = pd.to_datetime(stock_data_GOOGLE['Date'])
google_2016
start_date_2016 = '2016-1-1'
end_date_2016 = '2016-12-31'

bool_mask5 = (stock_data_GOOGLE['Date'] > start_date_2016) & (stock_data_GOOGLE['Date'] <= end_date_2016)

date_diff5 = stock_data_GOOGLE[bool_mask5]
date_diff5['Close'].mean()

In [ ]:
# Get the average close for each year - Google 2017

google_2017 = pd.to_datetime(stock_data_GOOGLE['Date'])
google_2017
start_date_2017 = '2017-1-1'
end_date_2017 = '2017-12-31'

bool_mask6 = (stock_data_GOOGLE['Date'] > start_date_2017) & (stock_data_GOOGLE['Date'] <= end_date_2017)

date_diff6 = stock_data_GOOGLE[bool_mask6]
date_diff6['Close'].mean()

In [ ]:
# Get the average close for each year - Google 2018

google_2018 = pd.to_datetime(stock_data_GOOGLE['Date'])
google_2018
start_date_2018 = '2018-1-1'
end_date_2018 = '2018-12-31'

bool_mask7 = (stock_data_GOOGLE['Date'] > start_date_2018) & (stock_data_GOOGLE['Date'] <= end_date_2018)

date_diff7 = stock_data_GOOGLE[bool_mask7]
date_diff7['Close'].mean()

In [ ]:
# Get the average close for each year - Google 2019

google_2019 = pd.to_datetime(stock_data_GOOGLE['Date'])
google_2019
start_date_2019 = '2019-1-1'
end_date_2019 = '2019-12-31'

bool_mask8 = (stock_data_GOOGLE['Date'] > start_date_2019) & (stock_data_GOOGLE['Date'] <= end_date_2019)

date_diff8 = stock_data_GOOGLE[bool_mask8]
date_diff8['Close'].mean()

In [ ]:
# #Get the highest "Close" values
# highest_close_FACEBOOK = stock_data_FACEBOOK.nlargest(5, "Close")
# highest_close_GOOGLE = stock_data_GOOGLE.nlargest(5, "Close")

In [ ]:
# highest_close_FACEBOOK

In [ ]:
# highest_close_GOOGLE

In [ ]:
# #Get the highest "Volume" values
# highest_volume_FACEBOOK = stock_data_FACEBOOK.nlargest(5, "Volume")
# highest_volume_GOOGLE = stock_data_GOOGLE.nlargest(5, "Volume")

In [ ]:
# highest_volume_FACEBOOK

In [ ]:
# highest_volume_GOOGLE

In [ ]:
# Plot Mean "Closing" stock value per year - Facebook
mean_closing_FACEBOOK = [24.59,35.48,68.76,88.77,117.04,156.58,171.51,178.73]
y_pos = np.arange(len(list(mean_closing_FACEBOOK)))
plt.bar(y_pos,mean_closing_FACEBOOK, align= 'center', alpha=0.75, color = 'purple')
plt.xticks(y_pos,[2012,2013,2014,2015,2016,2017,2018,2019])
plt.ylabel('Average Close')
plt.title('Facebook Average Stock Closing per Year')

plt.show()

In [ ]:
# Plot Mean "Closing" stock value per year - Google
mean_closing_GOOGLE = [320.16,440.47,559.80,602.01,743.49,921.78,1113.23,1166.50]
y_pos = np.arange(len(list(mean_closing_FACEBOOK)))
plt.bar(y_pos,mean_closing_GOOGLE, align= 'center', alpha=0.75, color = 'gray')
plt.xticks(y_pos,[2012,2013,2014,2015,2016,2017,2018,2019])
plt.ylabel('Average Close')
plt.title('Google Average Stock Closing per Year')

plt.show()

In [ ]:
per_icrs_FACEBOOK = [44.28,93.8,29.10,31.85,33.81,9.54,4.21]
per_icrs_GOOGLE = [37.58,27.09,7.54,23.50,23.98,20.77,4.79]

In [ ]:
# Plot Percentage Change from previous year - Facebook
y_pos = np.arange(len(list(per_icrs_FACEBOOK)))
plt.bar(y_pos,per_icrs_FACEBOOK, align= 'center', alpha=0.75, color = 'magenta')
plt.xticks(y_pos,[2013,2014,2015,2016,2017,2018,2019])
plt.ylabel('Percentage Change')
plt.title('Facebook Percentage Change from Previous Year')

plt.show()

In [ ]:
# Plot Percentage Change from previous year - Facebook
y_pos = np.arange(len(list(per_icrs_GOOGLE)))
plt.bar(y_pos,per_icrs_GOOGLE, align= 'center', alpha=0.75, color = 'cyan')
plt.xticks(y_pos,[2013,2014,2015,2016,2017,2018,2019])
plt.ylabel('Percentage Change')
plt.title('Google Percentage Change from Previous Year')

plt.show()